.languages {
    display: flex;
    flex-direction: row;
    align-items: center;    
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content:space-between
}

.languages .li {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: .25rem;
}

.languages li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/asserts/img/icons/check.svg');
    margin-right: .5rem;
}